# Application
APP_ENV=development
SERVER_PORT=8080
GIN_MODE=debug

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=outpost
DB_SSL_MODE=disable

# Delivery Engine
WORKER_COUNT=5
MAX_RETRIES=5
RETRY_BASE_DELAY=30s
